node_modules/
sites-rendered-output/
localData/
dist/
.yext
.artifact-output
sites-config/sushi.yext.com/features.json
sites-config/tacos.yext.com/features.json
functions/functionMetadata.json
*.local

.DS_Store