node_modules/
sites-rendered-output/
localData/
dist/
.yext
.artifact-output
sites-config/katespade.fr.com/features.json
sites-config/katespade.es.com/features.json
functions/functionMetadata.json
*.local

.DS_Store