@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaBT-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaBT-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaBT-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaNowVar-Roman";
  src: url("../fonts/FuturaNowVar-Roman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heldane";
  src: url("../fonts/HeldaneText-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Austin";
  src: url("../fonts/AustinBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bembo";
  src: url("../fonts/BemboMTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../fonts/HelveticaNowTextLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../fonts/HelveticaNowTextLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../fonts/HelveticaNowTextLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blair";
  src: url("../fonts/ITCBlair-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blair";
  src: url("../fonts/ITCBlair-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

